<!DOCTYPE html>
<!--
    __BUILD_MESSAGE__
    build options: __BUILD_OPTIONS__
    build at: __BUILD_TIMESTAMP__
    repository: __REPOSITORY_URL_
-->
<!-- license:
__LICENSE__-->
<html>
<head>
<meta charset="utf-8">
<title>__APPLICATION_TITLE__</title>
<link id="favicon" rel="shortcut icon" href="./image/favicon.png">
<link rel="apple-touch-icon" href="./image/favicon.png">
<meta name="theme-color" content="black">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,viewport-fit=contain">
<meta name="description" lang="en" content="__EN_DESCRIPTION__">
<meta name="description" lang="ja" content="__JA_DESCRIPTION__">
<meta name="apple-mobile-web-app-title" content="__APPLICATION_TITLE__">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@wraith13">
<!-- meta name="twitter:creator" content="@wraith13" -->
<meta name="twitter:title" content="__APPLICATION_TITLE__">
<meta name="twitter:description" lang="en" content="__EN_DESCRIPTION__">
<meta name="twitter:description" lang="ja" content="__JA_DESCRIPTION__">
<style>
__STYLE__
</style>
</head>
<body>
<h1 id="screen-header"><a class="segment" href="https://github.com/"><span>GitHub</span></a><a class="segment" href="https://github.com/wraith13"><span>wraith13</span></a><a class="segment" href="https://wraith13.github.io/"><span>wraith13.github.io</span></a><a class="segment" href="__REPOSITORY_URL_"><span>Kaleidoscope</span></a></h1>
<div id="benchmark-progress-bar"></div>
<div id="screen-body">
    <div id="canvas">
        <div class="layer"></div>
    </div>
    <div id="benchmark-canvas">
        <div class="layer"></div>
    </div>
    <div id="benchmark-result">
        <div id="benchmark-result-panel">
            <div id="score-panel">
            </div>
            <div id="description-panel">
            </div>
        </div>
        <button id="benchmark-result-close-button">close<button>
    </div>
</div>
<div id="option-panel">
    <label for="colorspace">
        <span data-lang-key="colorspace-label">Color Space:</span>
        <select id="colorspace"></select>
    </label>
    <label for="coloring">
        <span data-lang-key="coloring-label">Coloring:</span>
        <select id="coloring"></select>
    </label>
    <label for="pattern">
        <span data-lang-key="pattern-label">Pattern:</span>
        <select id="pattern"></select>
    </label>
    <label for="canvas-size">
        <span data-lang-key="canvas-size-label">Canvas Size:</span>
        <select id="canvas-size"></select>
    </label>
    <label for="layers">
        <span data-lang-key="layers-label">Layers:</span>
        <select id="layers"></select>
    </label>
    <label for="cycle-span">
        <span data-lang-key="cycle-span-label">Cycle Span:</span>
        <select id="cycle-span"></select>
    </label>
    <label for="fuse-fps">
        <span data-lang-key="fuse-fps-label">Fuse FPS:</span>
        <select id="fuse-fps"></select>
    </label>
    <label for="easing">
        <span data-lang-key="easing-label">Easing:</span>
        <input id="easing" type="checkbox">
    </label>
    <label for="with-fullscreen">
        <span data-lang-key="with-fullscreen-label">FullScreen:</span>
        <input id="with-fullscreen" type="checkbox">
    </label>
    <label for="show-fps">
        <span data-lang-key="show-fps-label">Show FPS:</span>
        <input id="show-fps" type="checkbox">
    </label>
    <label for="language">
        <span data-lang-key="language-label">Language:</span>
        <select id="language"></select>
    </label>
</div>
<div id="fps"></div>
<div id="benchmark-panel">
<button id="run-benchmark">
    __ELAPSED_ICON__
    <span data-lang-key="run-benchmark-label"></span>
</button>
<div id="run-benchmark-report"></div>
</div>
<button id="play-button">
    __IMAGES__
</button>
<div id="benchmark-popup">
    <div id="benchmark-popup-description">
    計測中...
    </div>
    <button id="benchmark-abort-button"><span data-lang-key="benchmark-abort"></span></button>
</div>
<div id="screen-footer">
    <div id="supplementary-line">
        <div id="keyboard-shortcut">
        </div>
        <div id="powered-by">
            <span class="title">powered by</span>
            <ul></ul>
        </div>
    </div>
    <div id="information-line">
        <div id="information">
            <ul id="information-list">
            </ul>
        </div>
    </div>
</div>
<div id="benchmark-status">
    <span id="benchmark-message" data-lang-key="benchmarking-in-progress"></span>
    <span id="benchmark-phase">xxx</span>
</div>
</body>
<script type="text/javascript">
const build =
{
    at: "__BUILD_TIMESTAMP__",
    tick: __BUILD_TIMESTAMP_TICK__
};
const evilCommonjsConfig =
__EVIL_COMMONJS_CONFIG__; // "./resource/evil-commonjs.config.json"
const evilTimerConfig =
__EVIL_TIMER_CONFIG__; // "./resource/evil-timer.js.config.json"
__EVIL_COMMONJS__
__EVIL_TIMER__
__FLOUNDER_STYLE_JS__
module.readyToCapture("https://wraith13.github.io/phi-colors/library/source/index.js");
__PHI_COLORS__
module.capture("https://wraith13.github.io/phi-colors/library/source/index.js", ["phi-colors"]);
__SCRIPT__
</script>
</html>
