@use "./params" as *;
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    font-size: 100%;
    line-height: 1.5;
    color: inherit;
    outline: 0;
    vertical-align: baseline;
}
body
{
    margin: 0px;
    padding: 0px;
    background-color: $body-background-color;
    overflow: hidden;
}
button
{
    cursor: pointer;
}
