@use "./params" as *;
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    line-height: 120%;
    color: inherit;
    outline: 0;
    vertical-align: baseline;
}
html
{
    -webkit-text-size-adjust: auto;
}
body
{
    margin: 0px;
    padding: 0px;
    background-color: $body-background-color;
    overflow: hidden;
}
button
{
    cursor: pointer;
}
