@use "./params" as *;
@use "./traits" as *;
@use "./base" as *;
#screen-header
{
    @include default-mode-element("slide-up");
    @include top-stretch-box();
    @include flex();
    @include black-line-panel-style();
    padding: 0px;
    position: fixed;
    z-index: 100;
    a
    {
        color: $white-color;
    }
    .segment
    {
        @include font();
        &
        {
            @include flex();
            position: relative;
            padding: 0.75rem 1.00rem;
            overflow-x: hidden;
            transform: skewX(150deg);
            text-decoration: none !important;
            min-width: 2.25rem;
            line-height: 100%;
            white-space: nowrap;
            &:first-child
            {
                padding-left: 1.75rem;
                margin-left: -0.75rem;
            }
            & + .segment
            {
                margin-left: 0rem;
                border-left-style: solid;
                border-left-width: 1px;
                border-left-color: white-color(0.7) !important;
            }
            & > *
            {
                transform: skewX(-150deg);
            }
            @media (hover: hover)
            {
                &[href]:hover
                {
                    background-color: $hover-black-color;
                }
            }
        }
    }
}
#screen-body
{
    @include full-stretch-box();
    @include flex(column, center);
    position: absolute;
    background-color: $body-background-color;
    @at-root body.immersive:not(.mousemove) &
    {
        cursor: none;
    }
    @at-root body.immersive.mousemove &
    {
        cursor: pointer;
    }
    #canvas, #benchmark-canvas
    {
        @include solid-box();
        position: fixed;
        z-index: -100;
        transition: opacity 750ms, filter 750ms;
        .layer
        {
            @include full-stretch-box();
            position: fixed;
            mix-blend-mode: difference;
            will-change: mix-blend-mode, background-color, background-image, background-position, background-size;
        }
    }
    #benchmark-canvas
    {
        @include full-stretch-box();
    }
}
body.benchmark #screen-body
{
    #canvas
    {
        @include mist-disperse-effect();
    }
}
body:not(.benchmark) #screen-body
{
    #benchmark-canvas
    {
        @include mist-disperse-effect();
    }
}
#option-panel
{
    @include default-mode-element("fade");
    @include font();
    &
    {
        position: absolute;
        z-index: 80;
        top: 3.25rem;
        left: 0.5rem;
        label
        {
            @include black-pop-panel-style();
            @include flex(row, space-between);
            cursor: pointer;
            padding: 0.125rem 0.5rem;
            margin-bottom: 1px;
            background-color: black-color(0.6);
            border-radius: 0.25rem;
            height: 1.5rem;
            flex-grow: 1;
            @media (hover: hover)
            {
                &:hover
                {
                    background-color: $hover-black-color;
                }
            }
            *
            {
                user-select: none;
                cursor: pointer;
            }
            input
            {
                margin: 0.5rem;
                padding: 0px;
            }
            select
            {
                @include reset-appearance();
                @include font();
                &
                {
                    color: $white-color;
                    background-color: transparent;
                    border: none;
                    border-radius: 0.5rem;
                    padding: 0.25rem;
                    text-align: right;
                    text-align-last: right;
                    option
                    {
                        background-color: black-color(1.0);
                        text-align: right;
                    }
                }
            }
        }
    }
}
#fps
{
    @include black-pop-panel-style();
    @include flex(row, center);
    @include monospace-font();
    &
    {
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
        border-radius: 0.5rem;
        padding: 0.5rem 0.75rem;
        transition: opacity 750ms, filter 750ms;
        text-align: right;
        white-space: pre;
        will-change: contents opacity filter;
        &.hide
        {
            @include mist-disperse-effect();
        }
        @at-root body:not(.immersive) &
        {
            @include mist-disperse-effect();
        }
        @at-root body:hide-ui &
        {
            @include mist-disperse-effect();
        }
    }
}
#benchmark-panel
{
    @include default-mode-element("fade");
    @include font();
    &
    {
        position: absolute;
        z-index: 75;
        top: 3.25rem;
        right: 0.5rem;
        button
        {
            @include flex();
            @include black-pop-panel-style();
            border-radius: 0.75rem;
            cursor: pointer;
            padding: 0.5rem 1.0rem;
            margin-bottom: 1px;
            background-color: black-color(0.6);
            svg
            {
                @include svg-color($white-color);
                width: 1.5rem;
                height: 1.5rem;
                margin-right: 0.5rem;
            }
            span
            {
                line-height: 100%;
            }
            @media (hover: hover)
            {
                &:hover
                {
                    background-color: $hover-black-color;
                }
            }
            *
            {
                user-select: none;
                cursor: pointer;
            }
        }
        @media (max-width: 300px) or (max-height: 300px)
        {
            visibility: hidden;
            width: 0px;
            height: 0px;
        }
    }
}
#play-button
{
    @include black-pop-panel-style();
    border-style: solid;
    border-width: 1px;
    border-color: white-color(0.7);
    border-radius: 1.5rem;
    padding: 1.5rem;
    transition: opacity 750ms, filter 750ms;
    width: 11rem;
    height: 11rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 30vw;
    max-height: 30vw;
    z-index: 50;
    svg
    {
        @include svg-color(white-color(0.7));
        width: 100%;
        height: 100%;
    }
    @media (hover: hover)
    {
        &:hover
        {
            border-color: white-color;
            background-color: $hover-black-color;
        }
        &:hover svg
        {
            @include svg-color($white-color);
        }
    }
    @at-root body.immersive:not(.mousemove) &
    {
        @include mist-disperse-effect();
    }
    @at-root body.hide-ui &
    {
        @include mist-disperse-effect();
    }
    @at-root body.immersive & #play-icon
    {
        display: none;
    }
    @at-root body:not(.immersive) & #pause-icon
    {
        display: none;
    }
}
#screen-footer
{
    @include bottom-stretch-box();
    @include flex(column, start, stretch);
    position: fixed;
    z-index: 50;
    pointer-events: none;
    #supplementary-line
    {
        @include flex(row, space-between, end);
        #keyboard-shortcut
        {
            @include default-mode-element("fade");
            @include black-pop-panel-style();
            @include font();
            &
            {
                margin: 0.5rem;
                border-radius: 0.5rem;
                padding: 0.5rem 1.0rem;
                display: grid;
                grid-template-columns: minmax(0, max-content) minmax(0, max-content);
                gap: 0.5rem 0.5rem;
                align-items: center;
                pointer-events: initial;
                span
                {
                    white-space: nowrap;
                    &:nth-child(2n + 1)
                    {
                        justify-self: end;
                    }
                    kbd
                    {
                        @include monospace-font();
                        &
                        {
                            display: inline-block;
                            contain: paint;
                            border-style: solid;
                            border-width: 1px;
                            border-color: $kbd-border-color;
                            border-radius: 4px;
                            padding: 1px 4px;
                            margin: 2px;
                            background-color: $kbd-background-color;
                        }
                    }
                    .separator
                    {
                        @include monospace-font();
                        &
                        {
                            display: inline-block;
                            padding: 1px 4px;
                            margin: 2px;
                        }
                    }
                }
                @media (max-width: 760px) or (max-height: 780px)
                {
                    visibility: hidden;
                    width: 0px;
                    height: 0px;
                }
            }
        }
        #powered-by
        {
            @include default-mode-element("fade");
            @include black-pop-panel-style();
            @include font();
            &
            {
                margin: 0.5rem;
                border-radius: 0.5rem;
                padding: 0.5rem 1.0rem;
                display: block;
                text-align: left;
                pointer-events: initial;
                .title
                {
                    @include solid-box();
                }
                ul
                {
                    @include solid-box();
                    padding-left: 1.0rem;
                    li
                    {
                        @include solid-box();
                        a
                        {
                            color: white-color(0.7);
                            cursor: pointer;
                            @media (hover: hover)
                            {
                                &:hover
                                {
                                    color: $white-color;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    #information-line
    {
        @include black-line-panel-style();
        @include default-mode-element("slide-down");
        pointer-events: initial;
        #information
        {
            @include flex(row, center);
            @include font();
            &
            {
                color: $white-color;
                ul
                {
                    display: inline-block;
                    margin: 0px;
                    padding: 0.5rem;
                    list-style: none;
                    li
                    {
                        margin: 0px;
                        padding: 0.25rem;
                    }
                }
            }
        }
    }
}
