* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  font-size: 100%;
  line-height: 1.5;
  color: inherit;
  outline: 0;
  vertical-align: baseline;
  content-visibility: auto;
  contain-intrinsic-size: auto 0px;
}

@supports (not (content-visibility: auto)) or (not (contain-intrinsic-size: auto 0px)) {
  * {
    contain: content;
    min-height: 1px;
  }
}
body {
  margin: 0px;
  padding: 0px;
  background-color: black;
}

button {
  border-style: none;
  border-width: 0px;
  cursor: pointer;
}

#screen-header {
  transition: transform 500ms;
  margin: 0px;
  top: 0px;
  right: 0px;
  left: 0px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  backdrop-filter: blur(1rem);
  color: rgb(230, 237, 243);
  background-color: rgba(32, 28, 38, 0.8);
  padding: 0px;
  position: fixed;
  z-index: 100;
}
body.immersive #screen-header {
  transform: translate(0px, -100%);
}

body.press-control #screen-header {
  transform: translate(0px, -100%);
}

#screen-header a {
  color: rgb(230, 237, 243);
}
#screen-header .segment {
  font-size: 0.75rem;
  line-height: 0.75rem;
  font-weight: 400;
}
@media (min-width: 1024px) and (max-width: 1599px) {
  #screen-header .segment {
    font-size: 0.9rem;
    line-height: 0.9rem;
  }
}
@media (min-width: 1600px) {
  #screen-header .segment {
    font-size: 1rem;
    line-height: 1rem;
  }
}
#screen-header .segment {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}
#screen-header .segment {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  position: relative;
  padding: 0.75rem 1rem;
  overflow-x: hidden;
  transform: skewX(150deg);
  text-decoration: none !important;
  min-width: 2.25rem;
  line-height: 100%;
  white-space: nowrap;
}
#screen-header .segment:first-child {
  padding-left: 1.75rem;
  margin-left: -0.75rem;
}
#screen-header .segment + .segment {
  margin-left: 0rem;
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: rgb(230, 237, 243) !important;
}
#screen-header .segment > * {
  transform: skewX(-150deg);
}
@media (hover: hover) {
  #screen-header .segment[href]:hover {
    background-color: black;
  }
}

#screen-body {
  margin: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  position: absolute;
  background-color: black;
}
body.immersive:not(.mousemove) #screen-body {
  cursor: none;
}

body.immersive.mousemove #screen-body {
  cursor: pointer;
}

#screen-body #fps {
  backdrop-filter: blur(1rem);
  color: rgb(230, 237, 243);
  background-color: rgba(32, 28, 38, 0.6);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
  line-height: 0.75rem;
  font-weight: 400;
}
@media (min-width: 1024px) and (max-width: 1599px) {
  #screen-body #fps {
    font-size: 0.9rem;
    line-height: 0.9rem;
  }
}
@media (min-width: 1600px) {
  #screen-body #fps {
    font-size: 1rem;
    line-height: 1rem;
  }
}
#screen-body #fps {
  font-family: monospace;
}
#screen-body #fps {
  position: absolute;
  top: 1rem;
  right: 1rem;
  border-radius: 0.5rem;
  padding: 0.5rem 0.75rem;
  transition: opacity 750ms, filter 750ms;
  text-align: right;
  white-space: pre;
  will-change: contents opacity filter;
}
#screen-body #fps:empty {
  opacity: 0;
  cursor: none;
  pointer-events: none;
  filter: blur(1em);
}
#screen-body #fps:empty::before {
  content: "";
  position: absolute;
  top: -1em;
  left: -1em;
  right: -1em;
  bottom: -1em;
  background: inherit;
  filter: blur(1em);
  z-index: -1;
  transition: filter 750ms;
}
body:not(.immersive) #screen-body #fps {
  opacity: 0;
  cursor: none;
  pointer-events: none;
  filter: blur(1em);
}
body:not(.immersive) #screen-body #fps::before {
  content: "";
  position: absolute;
  top: -1em;
  left: -1em;
  right: -1em;
  bottom: -1em;
  background: inherit;
  filter: blur(1em);
  z-index: -1;
  transition: filter 750ms;
}

body:press-control #screen-body #fps {
  opacity: 0;
  cursor: none;
  pointer-events: none;
  filter: blur(1em);
}
body:press-control #screen-body #fps::before {
  content: "";
  position: absolute;
  top: -1em;
  left: -1em;
  right: -1em;
  bottom: -1em;
  background: inherit;
  filter: blur(1em);
  z-index: -1;
  transition: filter 750ms;
}

#screen-body #canvas {
  margin: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  position: fixed;
  z-index: -100;
}
#screen-body #canvas #top-coat {
  margin: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  position: fixed;
  z-index: 10;
}
#screen-body #canvas .layer {
  margin: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  position: fixed;
  mix-blend-mode: difference;
  will-change: mix-blend-mode, background-color, background-image, background-position, background-size;
}

.option-panel {
  transition: opacity 750ms, filter 750ms;
  font-size: 0.75rem;
  line-height: 0.75rem;
  font-weight: 400;
}
body.immersive .option-panel {
  opacity: 0;
  cursor: none;
  pointer-events: none;
  filter: blur(1em);
}
body.immersive .option-panel::before {
  content: "";
  position: absolute;
  top: -1em;
  left: -1em;
  right: -1em;
  bottom: -1em;
  background: inherit;
  filter: blur(1em);
  z-index: -1;
  transition: filter 750ms;
}

body.press-control .option-panel {
  opacity: 0;
  cursor: none;
  pointer-events: none;
  filter: blur(1em);
}
body.press-control .option-panel::before {
  content: "";
  position: absolute;
  top: -1em;
  left: -1em;
  right: -1em;
  bottom: -1em;
  background: inherit;
  filter: blur(1em);
  z-index: -1;
  transition: filter 750ms;
}

@media (min-width: 1024px) and (max-width: 1599px) {
  .option-panel {
    font-size: 0.9rem;
    line-height: 0.9rem;
  }
}
@media (min-width: 1600px) {
  .option-panel {
    font-size: 1rem;
    line-height: 1rem;
  }
}
.option-panel {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}
.option-panel {
  position: absolute;
  z-index: 80;
  top: 3.25rem;
  left: 1rem;
}
.option-panel label {
  backdrop-filter: blur(1rem);
  color: rgb(230, 237, 243);
  background-color: rgba(32, 28, 38, 0.6);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 0.125rem 0.5rem;
  margin-bottom: 1px;
  background-color: rgba(32, 28, 38, 0.6);
  border-radius: 0.25rem;
  height: 1.5rem;
  flex-grow: 1;
}
@media (hover: hover) {
  .option-panel label:hover {
    background-color: black;
  }
}
.option-panel label * {
  user-select: none;
  cursor: pointer;
}
.option-panel label input {
  margin: 0.5rem;
  padding: 0px;
}
.option-panel label select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 0.75rem;
  line-height: 0.75rem;
  font-weight: 400;
}
@media (min-width: 1024px) and (max-width: 1599px) {
  .option-panel label select {
    font-size: 0.9rem;
    line-height: 0.9rem;
  }
}
@media (min-width: 1600px) {
  .option-panel label select {
    font-size: 1rem;
    line-height: 1rem;
  }
}
.option-panel label select {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}
.option-panel label select {
  color: rgb(230, 237, 243);
  background-color: transparent;
  border: none;
  border-radius: 0.5rem;
  padding: 0.25rem;
  text-align: right;
  text-align-last: right;
}
.option-panel label select option {
  background-color: rgb(32, 28, 38);
  text-align: right;
}

#play-button {
  backdrop-filter: blur(1rem);
  color: rgb(230, 237, 243);
  background-color: rgba(32, 28, 38, 0.6);
  border-radius: 1.5rem;
  padding: 1.5rem;
  transition: opacity 750ms, filter 750ms;
  width: 11rem;
  height: 11rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 30vw;
  max-height: 30vw;
  z-index: 150;
}
#play-button svg {
  color: rgba(230, 237, 243, 0.7);
  fill: rgba(230, 237, 243, 0.7);
  width: 100%;
  height: 100%;
}
@media (hover: hover) {
  #play-button:hover {
    background-color: black;
  }
  #play-button:hover svg {
    color: rgb(230, 237, 243);
    fill: rgb(230, 237, 243);
  }
}
body.immersive:not(.mousemove) #play-button {
  opacity: 0;
  cursor: none;
  pointer-events: none;
  filter: blur(1em);
}
body.immersive:not(.mousemove) #play-button::before {
  content: "";
  position: absolute;
  top: -1em;
  left: -1em;
  right: -1em;
  bottom: -1em;
  background: inherit;
  filter: blur(1em);
  z-index: -1;
  transition: filter 750ms;
}

body.press-control #play-button {
  opacity: 0;
  cursor: none;
  pointer-events: none;
  filter: blur(1em);
}
body.press-control #play-button::before {
  content: "";
  position: absolute;
  top: -1em;
  left: -1em;
  right: -1em;
  bottom: -1em;
  background: inherit;
  filter: blur(1em);
  z-index: -1;
  transition: filter 750ms;
}

body.immersive #play-button #play-icon {
  display: none;
}

body:not(.immersive) #play-button #pause-icon {
  display: none;
}

#screen-footer {
  margin: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
  position: fixed;
  z-index: 50;
  pointer-events: none;
}
#screen-footer #supplementary-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
}
#screen-footer #supplementary-line #keyboard-shortcut {
  transition: opacity 750ms, filter 750ms;
  backdrop-filter: blur(1rem);
  color: rgb(230, 237, 243);
  background-color: rgba(32, 28, 38, 0.6);
  font-size: 0.75rem;
  line-height: 0.75rem;
  font-weight: 400;
}
body.immersive #screen-footer #supplementary-line #keyboard-shortcut {
  opacity: 0;
  cursor: none;
  pointer-events: none;
  filter: blur(1em);
}
body.immersive #screen-footer #supplementary-line #keyboard-shortcut::before {
  content: "";
  position: absolute;
  top: -1em;
  left: -1em;
  right: -1em;
  bottom: -1em;
  background: inherit;
  filter: blur(1em);
  z-index: -1;
  transition: filter 750ms;
}

body.press-control #screen-footer #supplementary-line #keyboard-shortcut {
  opacity: 0;
  cursor: none;
  pointer-events: none;
  filter: blur(1em);
}
body.press-control #screen-footer #supplementary-line #keyboard-shortcut::before {
  content: "";
  position: absolute;
  top: -1em;
  left: -1em;
  right: -1em;
  bottom: -1em;
  background: inherit;
  filter: blur(1em);
  z-index: -1;
  transition: filter 750ms;
}

@media (min-width: 1024px) and (max-width: 1599px) {
  #screen-footer #supplementary-line #keyboard-shortcut {
    font-size: 0.9rem;
    line-height: 0.9rem;
  }
}
@media (min-width: 1600px) {
  #screen-footer #supplementary-line #keyboard-shortcut {
    font-size: 1rem;
    line-height: 1rem;
  }
}
#screen-footer #supplementary-line #keyboard-shortcut {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}
#screen-footer #supplementary-line #keyboard-shortcut {
  margin: 1rem;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  display: grid;
  grid-template-columns: minmax(0, max-content) minmax(0, max-content);
  gap: 0.5rem 0.5rem;
  align-items: center;
  pointer-events: initial;
}
#screen-footer #supplementary-line #keyboard-shortcut span {
  white-space: nowrap;
}
#screen-footer #supplementary-line #keyboard-shortcut span:nth-child(2n+1) {
  justify-self: end;
}
#screen-footer #supplementary-line #keyboard-shortcut span kbd {
  font-size: 0.75rem;
  line-height: 0.75rem;
  font-weight: 400;
}
@media (min-width: 1024px) and (max-width: 1599px) {
  #screen-footer #supplementary-line #keyboard-shortcut span kbd {
    font-size: 0.9rem;
    line-height: 0.9rem;
  }
}
@media (min-width: 1600px) {
  #screen-footer #supplementary-line #keyboard-shortcut span kbd {
    font-size: 1rem;
    line-height: 1rem;
  }
}
#screen-footer #supplementary-line #keyboard-shortcut span kbd {
  font-family: monospace;
}
#screen-footer #supplementary-line #keyboard-shortcut span kbd {
  display: inline-block;
  contain: paint;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(255, 255, 255, 0.6);
  border-radius: 4px;
  padding: 1px 4px;
  margin: 2px;
  background-color: rgba(255, 255, 255, 0.15);
}
@media (max-width: 760px) or (max-height: 780px) {
  #screen-footer #supplementary-line #keyboard-shortcut {
    visibility: hidden;
    width: 0px;
    height: 0px;
  }
}
#screen-footer #supplementary-line #powered-by {
  transition: opacity 750ms, filter 750ms;
  backdrop-filter: blur(1rem);
  color: rgb(230, 237, 243);
  background-color: rgba(32, 28, 38, 0.6);
  font-size: 0.75rem;
  line-height: 0.75rem;
  font-weight: 400;
}
body.immersive #screen-footer #supplementary-line #powered-by {
  opacity: 0;
  cursor: none;
  pointer-events: none;
  filter: blur(1em);
}
body.immersive #screen-footer #supplementary-line #powered-by::before {
  content: "";
  position: absolute;
  top: -1em;
  left: -1em;
  right: -1em;
  bottom: -1em;
  background: inherit;
  filter: blur(1em);
  z-index: -1;
  transition: filter 750ms;
}

body.press-control #screen-footer #supplementary-line #powered-by {
  opacity: 0;
  cursor: none;
  pointer-events: none;
  filter: blur(1em);
}
body.press-control #screen-footer #supplementary-line #powered-by::before {
  content: "";
  position: absolute;
  top: -1em;
  left: -1em;
  right: -1em;
  bottom: -1em;
  background: inherit;
  filter: blur(1em);
  z-index: -1;
  transition: filter 750ms;
}

@media (min-width: 1024px) and (max-width: 1599px) {
  #screen-footer #supplementary-line #powered-by {
    font-size: 0.9rem;
    line-height: 0.9rem;
  }
}
@media (min-width: 1600px) {
  #screen-footer #supplementary-line #powered-by {
    font-size: 1rem;
    line-height: 1rem;
  }
}
#screen-footer #supplementary-line #powered-by {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}
#screen-footer #supplementary-line #powered-by {
  margin: 1rem;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  display: block;
  text-align: left;
  pointer-events: initial;
}
#screen-footer #supplementary-line #powered-by .title {
  display: block;
  margin: 0px;
  padding: 0px;
  border: 0;
}
#screen-footer #supplementary-line #powered-by ul {
  display: block;
  margin: 0px;
  padding: 0px;
  border: 0;
  padding-left: 1rem;
}
#screen-footer #supplementary-line #powered-by ul li {
  display: block;
  margin: 0px;
  padding: 0px;
  border: 0;
}
#screen-footer #supplementary-line #powered-by ul li a {
  color: rgba(230, 237, 243, 0.7);
  cursor: pointer;
}
@media (hover: hover) {
  #screen-footer #supplementary-line #powered-by ul li a:hover {
    color: rgb(230, 237, 243);
  }
}
#screen-footer #information-line {
  backdrop-filter: blur(1rem);
  color: rgb(230, 237, 243);
  background-color: rgba(32, 28, 38, 0.8);
  transition: transform 500ms;
  pointer-events: initial;
}
body.immersive #screen-footer #information-line {
  transform: translate(0px, 100%);
}

body.press-control #screen-footer #information-line {
  transform: translate(0px, 100%);
}

#screen-footer #information-line #information {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
  line-height: 0.75rem;
  font-weight: 400;
}
@media (min-width: 1024px) and (max-width: 1599px) {
  #screen-footer #information-line #information {
    font-size: 0.9rem;
    line-height: 0.9rem;
  }
}
@media (min-width: 1600px) {
  #screen-footer #information-line #information {
    font-size: 1rem;
    line-height: 1rem;
  }
}
#screen-footer #information-line #information {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}
#screen-footer #information-line #information {
  color: rgb(230, 237, 243);
}
#screen-footer #information-line #information ul {
  display: inline-block;
  margin: 0px;
  padding: 0.5rem;
  list-style: none;
}
#screen-footer #information-line #information ul li {
  margin: 0px;
  padding: 0.25rem;
}

/*# sourceMappingURL=index.css.map */
