body {
  margin: 0px;
  padding: 0px;
  background-color: rgb(230, 237, 243);
}

div {
  content-visibility: auto;
}

button {
  background-color: transparent;
  border-style: none;
  border-width: 0px;
  cursor: pointer;
}

#screen-header {
  backdrop-filter: blur(1rem);
  color: rgb(230, 237, 243);
  background-color: rgba(32, 28, 38, 0.8);
  margin: 0px;
  padding: 0px;
  position: fixed;
  width: 100%;
  z-index: 900;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  transition: transform 500ms;
}

#screen-header a {
  color: rgb(230, 237, 243);
}

#screen-header .segment {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  padding: 0.75rem 1rem;
  overflow-x: hidden;
  transform: skewX(150deg);
  text-decoration: none !important;
  min-width: 2.25rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 100%;
  white-space: nowrap;
}

#screen-header .segment:first-child {
  padding-left: 1.75rem;
  margin-left: -0.75rem;
}

#screen-header .segment + .segment {
  margin-left: 0rem;
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: rgb(230, 237, 243) !important;
}

#screen-header .segment > * {
  transform: skewX(-150deg);
}

@media (hover: hover) {
  #screen-header a.segment:hover {
    background-color: rgb(70, 80, 90);
  }
}
#screen-body {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
}

#screen-footer {
  position: fixed;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 100;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
}

#top-coat {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: -1;
}

#canvas {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: -100;
}

#canvas .layer {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  mix-blend-mode: difference;
  will-change: mix-blend-mode, background-color, background-image, background-position, background-size;
}

#warning {
  font-size: 1.25rem;
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  color: rgb(32, 28, 38);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  transition: opacity 1000ms;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  user-select: none;
  pointer-events: none;
  z-index: -10;
}

#warning .icon {
  font-size: 3rem;
  margin-right: 0.75rem;
}

#screen-body button {
  backdrop-filter: blur(1rem);
  color: rgb(230, 237, 243);
  background-color: rgba(32, 28, 38, 0.6);
  border-radius: 1.5rem;
  padding: 1.5rem;
  transition: opacity 1000ms;
  width: 11rem;
  height: 11rem;
  max-width: 30vw;
  max-height: 30vw;
  z-index: -10;
}

#screen-body button svg {
  width: 100%;
  height: 100%;
  color: rgba(230, 237, 243, 0.7);
  fill: rgba(230, 237, 243, 0.7);
}

@media (hover: hover) {
  #screen-body button:hover {
    background-color: rgba(32, 28, 38, 0.8);
  }
  #screen-body button:hover svg {
    color: rgba(230, 237, 243, 0.9);
    fill: rgba(230, 237, 243, 0.9);
  }
}
#screen-body .option-panel {
  position: absolute;
  top: 3.25rem;
  left: 1rem;
  transition: opacity 1000ms;
  font-family: Courier;
  font-size: 0.75rem;
}

#screen-body .option-panel .item {
  backdrop-filter: blur(1rem);
  color: rgb(230, 237, 243);
  background-color: rgba(32, 28, 38, 0.6);
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 0.75rem;
  padding: 0.125rem 0.5rem;
  margin-bottom: 1px;
  background-color: rgba(32, 28, 38, 0.6);
  border-radius: 0.25rem;
  height: 1.5rem;
  flex-grow: 1;
}

@media (hover: hover) {
  #screen-body .option-panel .item:hover {
    background-color: rgb(70, 80, 90);
  }
}
#screen-body .option-panel .item * {
  user-select: none;
  cursor: pointer;
}

#screen-body .option-panel select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: rgb(230, 237, 243);
  background-color: transparent;
  border: none;
  border-radius: 0.5rem;
  padding: 0.25rem;
  font-family: Courier;
  font-size: 0.75rem;
  text-align: right;
}

#screen-body .option-panel select option {
  background-color: rgb(32, 28, 38);
  text-align: right;
}

#screen-body #fps {
  backdrop-filter: blur(1rem);
  color: rgb(230, 237, 243);
  background-color: rgba(32, 28, 38, 0.6);
  position: absolute;
  top: 1rem;
  right: 1rem;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: opacity 1000ms;
  font-family: Courier;
  font-size: 0.75rem;
  text-align: right;
  white-space: pre;
  will-change: contents;
}

#screen-body #fps:empty {
  display: none;
}

#screen-footer #supplementary-line {
  display: block;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
}

#keyboard-shortcut {
  backdrop-filter: blur(1rem);
  color: rgb(230, 237, 243);
  background-color: rgba(32, 28, 38, 0.6);
  margin: 1rem;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  display: block;
  font-family: Courier;
  font-size: 0.75rem;
  text-align: left;
  transition: opacity 1000ms;
}

@media (max-width: 500px) {
  #keyboard-shortcut {
    visibility: hidden;
    width: 0px;
    height: 0px;
  }
}
@media (max-height: 830px) {
  #keyboard-shortcut {
    visibility: hidden;
    width: 0px;
    height: 0px;
  }
}
#keyboard-shortcut kbd {
  border-style: solid;
  border-width: 1px;
  border-color: rgba(255, 255, 255, 0.6);
  border-radius: 4px;
  padding: 1px 4px;
  margin: 2px;
  background-color: rgba(255, 255, 255, 0.15);
}

#keyboard-shortcut ul {
  display: block;
  margin: 0px;
  padding: 0px;
}

#keyboard-shortcut ul li {
  display: block;
  margin: 0px;
  padding: 0.25rem;
  white-space: nowrap;
}

#keyboard-shortcut ul li span {
  display: inline-block;
  width: 4.75rem;
  text-align: right;
  margin-right: 0.5rem;
}

#screen-footer #supplementary-line #powered-by {
  backdrop-filter: blur(1rem);
  color: rgb(230, 237, 243);
  background-color: rgba(32, 28, 38, 0.6);
  margin: 1rem;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  display: block;
  transition: opacity 1000ms;
  font-family: Courier;
  font-size: 0.75rem;
  text-align: left;
}

#screen-footer #powered-by .title {
  display: block;
  margin: 0px;
  padding: 0px;
}

#screen-footer #powered-by ul {
  display: block;
  margin: 0px;
  padding: 0px;
  padding-left: 1rem;
}

#screen-footer #powered-by ul li {
  display: block;
  margin: 0px;
  padding: 0px;
}

#screen-footer #powered-by ul li a {
  color: rgba(230, 237, 243, 0.7);
  cursor: pointer;
}

@media (hover: hover) {
  #screen-footer #powered-by ul li a:hover {
    color: rgb(230, 237, 243);
  }
}
#screen-footer #information-line {
  backdrop-filter: blur(1rem);
  color: rgb(230, 237, 243);
  background-color: rgba(32, 28, 38, 0.8);
  transition: transform 500ms;
}

#screen-footer #information-line #information {
  color: rgb(230, 237, 243);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 0.75rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#screen-footer #information-line #information ul {
  display: inline-block;
  margin: 0px;
  padding: 0.5rem;
}

#screen-footer #information-line #information ul li {
  margin: 0px;
  padding: 0.25rem;
}

#screen-body .option-panel input {
  margin: 0.5rem;
  padding: 0px;
}

body.immersive #screen-header {
  transform: translate(0px, -100%);
}

body.immersive:not(.mousemove) #screen-body {
  cursor: none;
}

body.immersive.mousemove #screen-body {
  cursor: pointer;
}

body.immersive #screen-body #warning {
  opacity: 0;
  cursor: none;
}

body.immersive:not(.mousemove) #screen-body button {
  opacity: 0;
  cursor: none;
}

body.immersive #screen-body button #play-icon {
  display: none;
}

body:not(.immersive) #screen-body button #pause-icon {
  display: none;
}

body.immersive #screen-body .option-panel,
body.immersive #screen-footer #keyboard-shortcut,
body.immersive #screen-footer #powered-by {
  opacity: 0;
  pointer-events: none;
}

body:not(.immersive) #screen-body #fps {
  display: none;
}

body.immersive #screen-footer #information-line {
  transform: translate(0px, 100%);
}

/*# sourceMappingURL=index.css.map */
