@use "./traits" as *;
@use "../locale/generated/langs.scss" as *;
noscript
{
    padding: 1rem;
    position: absolute;
    z-index: 9999;
    color: white;
    background-color: black;
    top: 3rem;
    left: 0px;
    right: 0px;
    bottom: 0px;
    .panel
    {
        position: relative;
        *[lang]
        {
            position: absolute;
        }
        .section
        {
            h2 + div
            {
                white-space: pre-wrap;
            }
        }
        .section + .section
        {
            margin-top: 2rem;
        }
    }
}
