noscript
{
    *[lang]
    {
        opacity: 0;
        animation: noscript-langs-fade 94.5s infinite;
    }
    *[lang="ar"] { animation-delay: 0s; }
    *[lang="de"] { animation-delay: 4.5s; }
    *[lang="el"] { animation-delay: 9s; }
    *[lang="en"] { animation-delay: 13.5s; }
    *[lang="es"] { animation-delay: 18s; }
    *[lang="fa"] { animation-delay: 22.5s; }
    *[lang="fr"] { animation-delay: 27s; }
    *[lang="hi"] { animation-delay: 31.5s; }
    *[lang="id"] { animation-delay: 36s; }
    *[lang="it"] { animation-delay: 40.5s; }
    *[lang="ja"] { animation-delay: 45s; }
    *[lang="ko"] { animation-delay: 49.5s; }
    *[lang="nl"] { animation-delay: 54s; }
    *[lang="pl"] { animation-delay: 58.5s; }
    *[lang="pt"] { animation-delay: 63s; }
    *[lang="ru"] { animation-delay: 67.5s; }
    *[lang="th"] { animation-delay: 72s; }
    *[lang="tr"] { animation-delay: 76.5s; }
    *[lang="vi"] { animation-delay: 81s; }
    *[lang="zh-cn"] { animation-delay: 85.5s; }
    *[lang="zh-tw"] { animation-delay: 90s; }
}
@keyframes noscript-langs-fade
{
    0% { opacity: 0; }
    0.9523809523809524% { opacity: 1; }
    4.761904761904762% { opacity: 1; }
    5.714285714285714% { opacity: 0; }
    100% { opacity: 0; }
}
